body {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 55);
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    height: 100vh;
}