@import url('base.css');
@import url('chatbar.css');

.title {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 96px;
}

.AIMagic {
    background: linear-gradient(90deg, white, lightblue, cyan, lightblue, white, lightblue, cyan);
    background-size: 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: aicolors 3s linear infinite;
}

@keyframes aicolors {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

#fileFeedback {
    font-size: 24px;
}